.phone>i{
    color: #cfb53c;
    float: left;
    width: 20px;
    font-size: 30px;
    margin-right: 16px;
}

.envelope>i{
    color: #cfb53c;
    float: left;
    width: 20px;
    font-size: 30px;
    margin-right: 25px;
}


/* start of menu */
 .menu{
    background-color:#cfb53c ;
    
    
   
}

.nav-item>a{
    color:white;
}
.nav-item>a:hover{
    color: black;
    background-color: white;
}
.searchbox{
    padding: 0px;
}
.searchbox>input{
    color: white;
    background-color: #cfb53c;
    border-radius: 0px;
    border: none;
    border-left: 1px solid white;
    
    
}

.searchbox>span{
    color: white;
    background-color: #cfb53c;
    border-radius: none;
    border: none;
}

.form-control1:focus {
    color: #ffffff;
    background-color: #cfb53c;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}
.form-control1::placeholder{
    color: white;
    background-color: #cfb53c;
}
/* category */
.category>a{
    text-decoration: none;
    text-align: center;

    /* margin-top: -20px; */
}

.category>a>h3{
    /* margin-top: -35px; */
    color: white;
    background-color: rgb(37, 37, 37);
    font-weight: 400;
    font-size: 25px;
    padding: 5px 0px;
    transition: 0.9s;

}
.category>a:hover h3{
    transition: 0.9s;
    box-shadow: inset 0 -100px 0 0 #cfb53c;
    background-color: #cfb53c;

}

/* featured prod */
.feature{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}
.feature>a{
    text-decoration: none;
    
}
.feature>a>p{
    color: black;
    text-align: center;
    padding: 0px;
    margin: 0px;

}

/* foooter */
.foot{
    background-color: #cfb53c;
}

.footer-col>h3{
    color: white;
    font-weight: 400;
    font-size: 25px;
}
.footer-col>ul{
    margin: 0px;
    padding: 0px;
}
.footer-col>ul>li{
    list-style: none;
}
.footer-col>ul>li>a{
    text-decoration: none;
    color: white;
}

.footer-box>input{
    border-right: none;
    border-radius: 3px;
}
.footer-box>span{
    background-color: white;
    color: black;
    border-left: none;
    border-radius: 3px;
}

.form-control2:focus {
    
    background-color: #ffffff;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}
.form-control2::placeholder{
    
    background-color: #ffffff;
}

.footer-col4>ul>li{
    list-style: none;
    display: inline-block;
}
.footer-col4>ul>li>a{
    text-decoration: none;
    color: black;
}
.footer-col4>ul{
    margin: 0px;
    padding: 0px;    
}
.footer-col4>ul>li>a{
    padding: 5px 8px;
    color: white;
    background-color: black;
}
/* .footer-col4>ul>li>a:hover i {
    /* background-color: rgb(129, 129, 241); */
    /* box-shadow: inset -10 0 0 0 blue; 
} */

.footer-border{
    border-top: 1px solid #ccc;
}

.twitter:hover {
    transition: ease-in-out 0.9s;
    box-shadow: inset 0px 0px 35px 0px #00acee;
}

.facebook:hover {
    transition: ease-in-out 0.9s;
    box-shadow: inset 0px 0px 35px 0px #3b5998;
    
}

.skype:hover {
    transition: ease-in-out 0.9s;
    box-shadow: inset 0px 0px 35px 0px #00aff0;
}

.linkedin:hover{
    transition: ease-in-out 0.9s;
    box-shadow: inset 0px 0px 35px 0p #0A66C2;
    
}
